*{
    
    margin:0px;
    border:0px;
}
header{
    text-align:center;
    background-color: rgba(210, 105, 30, 0.61);
    margin-bottom: 40px;
}
body{
    background-color: rgba(194, 32, 32, 0.895);
}
.one{
    
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;;

}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    height:56px;
    width:56px;
    margin:1px;
    color:white;
    padding-top:2px;
    font-size: larger;
    font-weight: bolder;
}
.reset{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
